:root {
  --primary-color: rgb(103, 71, 63);
  --secondary-color: rgb(236, 209, 190);
  --tertiary-color: rgb(60, 43, 39);
  --primary-font: "playfair display", serif;
  --secondary-font: "Poppins", sans-serif;
}

body {
  font-family: var(--secondary-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  font-weight: bold;
}
h1 {
  font-size: 70px;
  color: var(--tertiarty-color);
}
p {
  font-weight: normal;
  font-size: 16px;
}
h2 {
  font-size: 62px;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 200px 30px;
}
.hero p {
  font-size: 30px;
}
.hero h2 {
  font-family: var(--secondary-font);
  font-weight: normal;
  font-size: 18px;
}
.btn-branding {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 4px;
}

.btn-launch {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 4px;
  border: 1px solid var(--primary-color);
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 960px) {
  h1 {
    font-size: 44px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  h2 {
    font-size: 36px;
  }
  .hero {
    padding: 60px 30px;
  }
}
